sprint0/obj/Debug/net6.0/sprint0.csproj.AssemblyReference.cache
sprint0/obj/
sprint0/bin/
sprint0/obj/Debug/net6.0/sprint0.GeneratedMSBuildEditorConfig.editorconfig
sprint0/obj/Debug/net6.0/sprint0.assets.cache
sprint0/Content/obj/DesktopGL/zeldaMenuBlank.mgcontent
sprint0/Content/obj/DesktopGL/zeldaCursor.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/zelda-sprites-enemies.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/zelda-sprites-enemies-condensed.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/sprites-bosses.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/TEXT_APPEAR.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/SWORD_SLASH.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/SWORD_SHOOT.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/STAIRS.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/SHIELD.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/REFILL.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/PUZZLE_SOLVED.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/LINK_TAKE_DAMAGE.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/LINK_LOW_HEALTH.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/LINK_DEATH.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/INVENTORY_LINK_ITEM_GET.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/GROUND_KEY_APPEAR.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/GET_GROUND_RUPEE.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/GET_GROUND_HEART_KEY.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/FANFARE.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/ENEMY_HIT.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/ENEMY_DIE.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/DOOR_UNLOCK.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/BOSS_TAKE_DAMAGE.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/BOSS_AQUAMENTUS_SCREAM.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/BOMB_EXPLODE.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/BOMB_DROP.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/BLAZE.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/soundEffects/ARROW_BOOMERANG_LAUNCH.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/songs/TRIFORCE_OBTAIN.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/songs/TITLE.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/songs/OVERWORLD.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/songs/ENDING.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/songs/DUNGEON.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/miniMap.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/luigiSpriteSheet.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/lives.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/linkSword.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/LinkSpriteSheet.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/linkLocator.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/linkIceSword.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/linkFireSword.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/Link2.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/Link.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/legendofzelda_bosses_sheet.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/hudFont.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundTriforce.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundShimmeringRupee.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundRupee.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundPage.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundKey.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundHeart.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundFairy.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundCompass.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundClock.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundBow.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundBoomerang.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundBomb.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundBlaze.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/groundItemSprites/groundBigHeart.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/Font.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/weaponProjectileHit.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBowUp.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBowRight.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBowLeft.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBow.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBoomerangGoing.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBoomerangComing.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBoomerang.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBombExplode.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBlaze.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBetterBowUp.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBetterBowRight.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBetterBowLeft.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBetterBow.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBetterBoomerangGoing.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBetterBoomerangComing.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/equippedItemSprites/equippedBetterBoomerang.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/Dungeon1FloorTextures.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/Dungeon1Doors.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/Dungeon1Boundaries.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/Dungeon1BlockSpriteSheet.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/Dragon.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/Debug.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/ChristieSpriteSheet.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/background_sheet.mgcontent
sprint0/Content/obj/DesktopGL/net6.0/Content/.mgstats
sprint0/Content/obj/DesktopGL/net6.0/Content/.mgcontent
sprint0/Content/obj/DesktopGL/miniMap.mgcontent
sprint0/Content/obj/DesktopGL/lives.mgcontent
sprint0/Content/obj/DesktopGL/LinkSpriteSheet.mgcontent
sprint0/Content/obj/DesktopGL/linkLocator.mgcontent
sprint0/Content/obj/DesktopGL/linkIceSword.mgcontent
sprint0/Content/obj/DesktopGL/linkFireSword.mgcontent
sprint0/Content/obj/DesktopGL/Link2.mgcontent
sprint0/Content/obj/DesktopGL/hudFont.mgcontent
sprint0/Content/obj/DesktopGL/Dungeon1Doors.mgcontent
sprint0/Content/obj/DesktopGL/Dungeon1Boundaries.mgcontent
sprint0/Content/obj/DesktopGL/Dungeon1BlockSpriteSheet.mgcontent
sprint0/Content/obj/DesktopGL/background_sheet.mgcontent
sprint0/Content/Link2.png
sprint0/Content/bin/DesktopGL/zeldaMenuBlank.xnb
sprint0/Content/bin/DesktopGL/zeldaCursor.xnb
sprint0/Content/bin/DesktopGL/RoomTestRoom.xml
sprint0/Content/bin/DesktopGL/miniMap.xnb
sprint0/Content/bin/DesktopGL/lives.xnb
sprint0/Content/bin/DesktopGL/LinkSpriteSheet.xnb
sprint0/Content/bin/DesktopGL/linkLocator.xnb
sprint0/Content/bin/DesktopGL/linkIceSword.xnb
sprint0/Content/bin/DesktopGL/linkFireSword.xnb
sprint0/Content/bin/DesktopGL/Link2.xnb
sprint0/Content/bin/DesktopGL/hudFont.xnb
sprint0/Content/bin/DesktopGL/Dungeon1Doors.xnb
sprint0/Content/bin/DesktopGL/Dungeon1Boundaries.xnb
sprint0/Content/bin/DesktopGL/Dungeon1BlockSpriteSheet.xnb
sprint0/Content/bin/DesktopGL/Content/zeldaMenuBlank.xnb
sprint0/Content/bin/DesktopGL/Content/Link2.xnb
sprint0/Content/bin/DesktopGL/background_sheet.xnb
sprint0/.vs/sprint0/xs/project-cache/sprint0-Debug.json
